[submodule "contrib/SCFD"]
	path = contrib/SCFD
	url = https://github.com/oryabkov/SCFD-all.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
